@charset "utf-8";
body{
	margin:0 auto;	
}
.circle{
    border-radius: 50%;
}
.page-title1{
    font-size: 22px;
    font-weight: 500;
    color: #000;
}
.page-title2{

}
.width-30{
    width: 30px;
}
.width-80{
    width: 80px;
}
.pull-left{
    float: left;
    display: inline-block;
}
.pull-right{
    float: right;
    display: inline-block;
}
.margin-right-10{margin-right: 10px;};
.margin-bottom-10{margin-bottom: 10px;};
p{
    font-weight: 300;
    font-size: 16px;
    margin: 5px 0;
    line-height: 28px;
    font-family: Roboto;
}
.tag{
    font-family: Roboto;
    font-size: 12px;
    padding: 2px 10px;
    color: #000;
    background: #fecb6a;
    border: 1px solid #fca601;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.display-inline{display: inline-block;}
.text-center{text-align: center}
.prof-details{
    font-family: Roboto;
    position: absolute;
    top: 110px;
    padding-bottom: 70px;
    .experience{
        width: 70%;
        min-height: 960px;
        .exp-details{
            padding: 20px 20px 0;           
        }
    }
    .skils{
        width: 30%;
        min-height: 960px;
        background: rgba(0, 150, 136, 0.02);
        .skill-details{
            .attribue{
                padding: 20px;
            }
            .lngs{
                padding: 20px;
            }
            .download{
                text-align: center;
                img{
                    width: 200px;
                    cursor: pointer;
                    -webkit-transform: rotate(11deg); 
                    -moz-transform: rotate(11deg); 
                    -o-transform: rotate(11deg);
                    -ms-transform: rotate(11deg); 
                    transition: 0.25s ease-in-out;
                }
                img:hover{
                    width: 200px;
                    border: 8px solid #009688;
                    cursor: pointer;
                    -webkit-transform: rotate(360deg); 
                    -moz-transform: rotate(360deg); 
                    -o-transform: rotate(360deg);
                    -ms-transform: rotate(360deg); 
                }
            }
        }
        
    }
}
.header-mini{
    background: #009688;
    display: block;
    height: 60px;    
    width: 100%;
    position: fixed;
    z-index: 99;
    .name{
        width: 70%;
        height: 100%;
        display: inline-block;
        .details{
            padding: 10px 50px;
            .user-name{
                font-family: Roboto;
                font-weight: 100;
                vertical-align: middle;
                .first{
                    color: #fff;
                    font-size: 30px;
                }
                .second{
                    color: #05443e;
                    font-size: 20px;
                }
            }
            .title{
                font-family: Roboto;
                color: #05443e;
            }
        }
    }
    .contacts{
        width: 30%;
        height: 100%;
        background: #0f9c8f;
        display: inline-block;
        text-align: right;
    }
    
}
.header{
    background: rgba(0, 0, 0, 0.8);
    display: block;
    height: 110px;    
    width: 100%;
    position: fixed;
    z-index: 99;
    .icon{
        font-size: 20px;
        color: #fff;
    }
    .icon-sm{
        font-size: 14px;
        color: #fff;
    }
    .name{
        width: 70%;
        height: 100%;
        display: inline-block;
        .cv-logo{
            background: #444;
            font-family: Roboto;
            font-size: 44px;
            font-weight: 100;
            height: 70px;
            margin: 20px 10px;
            text-align: center;
            vertical-align: bottom;
            width: 70px;
        }
        .details{
            padding: 14px 0;
            .user-name{
                font-family: Roboto;
                font-weight: 100;
                vertical-align: middle;
                .first{
                    color: #fcfcfc;
                    font-size: 45px;
                }
                .second{
                    color: #777;
                    font-size: 30px;
                }
            }
            .title{
                font-family: Roboto;
                color: #000;
            }
        }
        
    }
    .contacts{
        width: 30%;
        height: 100%;
        background: #444;
        display: inline-block;
        text-align: right;
        .details{
            color: #aaa;
            font-family: roboto;
            font-weight: 100;
            line-height: 25px;
            padding: 15px 20px;
            i{
                color: #888;
            }
            a{
                color: #aaa;
                text-decoration: none;
                cursor: pointer;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }   

}
.footer{
    bottom: 0;
    padding: 12px 0;
    position: fixed;    
    width: 100%;
    z-index: 99;
    .follow-btns{
        float: left;
        padding: 0 10px;
    }
    .follow{
        float: right;
        a{
            background:#000;
            border-radius: 100%;
            color: #fff;
            border: 1px solid #000;
            margin-right: 20px;
            padding: 4px 6px;
            transition: background 1ms ease 200ms;
        }
        a:hover{
            background: rgba(0, 0, 0, 0);
            color: #000;
            transition: all 200ms ease 0s;
            border: 1px solid #000;
        }
    }
    
}

